<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- La cámara no es un requerimiento obligatorio -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Luquita"
        android:theme="@style/AppTheme">

        <!-- Actividad principal (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:label="Luquita"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity CameraActivity (asegúrate de que no se esté abriendo innecesariamente) -->
        <activity android:name=".CameraActivity" />

        <!-- CheckInImageActivity debe ser configurada para no ser iniciada más de una vez -->
        <activity
            android:name=".CheckInImageActivity"
            android:launchMode="singleTop" />  <!-- Añadir singleTop o singleTask para evitar múltiples instancias -->

        <!-- ResultActivity (fin de flujo) -->
        <activity android:name=".ResultActivity" />

        <!-- Actividad de bienvenida (WelcomeActivity), actualmente inactiva -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
             android:theme="@style/AppTheme">
        </activity>

        <!-- Inicio -->
        <activity
            android:name=".Inicio"
            android:exported="false"/>

            <!-- easteregg -->
        <activity android:name=".EasterEggActivity" />
        <!-- PasteNormalizeActivity -->
        <activity
            android:name=".PasteNormalizeActivity"
            android:exported="false"
            android:theme="@style/Theme.Luquita"/>

        <!-- HowItWorksActivity -->
        <activity
            android:name=".HowItWorksActivity"
            android:exported="false"
            android:theme="@style/Theme.Luquita" />
    </application>
</manifest>
